:root{
  --gray: #2B2D30;
  --bronze: #C18C44;
  --plat: #E3DEDE;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--gray);
  min-height: 90vh;
  min-width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav{
  background-color: var(--bronze);
  min-height: 10vh;
  min-width: 99vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title{
  display: flex;
  align-items: baseline;
  text-indent: 15px ;
  font-size: smaller;
  text-shadow: 1px 3px 0px var(--gray);
  cursor: pointer;
}

.NavItems{
  display: flex;
  margin-right: 15px;
  justify-content: space-evenly;
  text-shadow: 1px 1px 0px var(--gray);
}

.NavItem{
  margin-right: 10px;
}

.NavItem:hover{
  color: var(--gray);
  text-shadow: 1px 1px 0px var(--plat);
  cursor: pointer;
}

.loginForm{
  background-color: #C18C44;
  display: flex;
  flex-direction: column wrap;
  padding: 15px;
}

.loginContrast{
  display: grid ;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--plat);
  border: #2B2D30 solid 1px;
  padding: 70px;
  color: #2b2d30;
  font-size: smaller;
  justify-items: center;
}



#btn{
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  min-width: 180px;
  padding: .5em .3em ;
  color: var(--gray);
  background-color: var(--bronze);
  border: 1px solid var(--gray);
  border-radius: 5px;
  justify-content: center;
/* Which property the transition should be applied to */
  /* transition-property: transform ;  */
/* How long the effect should take to complete */
  /* transition-duration: 0.3s; */
/* Defines the acceleration curve for the transition */
/* ease-in, ease-out, ease-in-out, linear, ease (default) */
  /* transition-timing-function: ease ; */
/* How long before the transition takes effect */
  /* transition-delay: 0s; */
/* Shorthand for all of above properties */
/* If we wanted all of the elements to be the same, like they are below 
we just replace transform with all and delete the comma separators*/
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#btn:hover{
  transform: translateY(-5px);
  background-color: var(--gray);
  color: whitesmoke;
  cursor: pointer;
}

.label{
  width: 100%;
}

.loginContrast label{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-end;
}

input{
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}